Repository celestial-biome/celestial_biome: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, biome-check

.pre-commit-config.yaml:

repos:
  # 汎用的なチェックツール
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^src/frontend/node_modules/
      - id: end-of-file-fixer
        exclude: ^src/frontend/node_modules/
      - id: check-yaml
      - id: check-added-large-files

  # ローカルツール (uv & npm)
  - repo: local
    hooks:
      # ---------------------------------------------------
      # Backend (Ruff) - 修正箇所
      # ---------------------------------------------------
      - id: ruff-check
        name: Ruff Linter
        # ★修正: --directory ではなく --project を使用
        entry: uv run --project src/backend ruff check --fix
        language: system
        types: [python]
        files: ^src/backend/

      - id: ruff-format
        name: Ruff Formatter
        # ★修正: --directory ではなく --project を使用
        entry: uv run --project src/backend ruff format
        language: system
        types: [python]
        files: ^src/backend/

      # ---------------------------------------------------
      # Frontend (Biome) - そのままでOK
      # ---------------------------------------------------
      - id: biome-check
        name: Biome Check
        # ここは '.' (全体) を対象にしているのでそのままで動きます
        entry: bash -c 'cd src/frontend && npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true .'
        language: system
        pass_filenames: false # ファイル名を渡さず、entryコマンドの '.' で全スキャンさせる設定
        files: ^src/frontend/

fix
  src/backend/api/__init__.py
  src/backend/api/apps.py
  src/backend/api/services/__init__.py
  src/backend/api/services/inference_client.py
  src/backend/api/urls.py
  src/backend/api/views.py
  src/backend/config/settings.py
  src/backend/config/urls.py
  src/backend/pyproject.toml
  src/backend/uv.lock
Due: ruff-check, ruff-format

fix
  .github/workflows/deploy-staging.yml
  compose.yaml
Due: none

fix
  src/backend/config/settings.py
Due: ruff-check, ruff-format

fix gh actions
  .github/workflows/deploy.yml
Due: none

fix docs
  README.md
Due: none

fix
  README.md
Due: none

fix
  src/backend/config/settings.py
  terraform/modules/celestial_core/main.tf
Due: ruff-check, ruff-format

fix test
  src/backend/config/test_settings.py
Due: ruff-check, ruff-format

fix
  src/backend/Dockerfile
Due: none

fix
  terraform/modules/celestial_core/jobs.tf
Due: none

fix
  src/backend/config/settings.py
  terraform/modules/celestial_core/jobs.tf
  terraform/modules/celestial_core/main.tf
Due: ruff-check, ruff-format

fix
  src/backend/config/test_settings.py
Due: ruff-check, ruff-format

fix
  src/backend/config/settings.py
  terraform/environments/staging/main.tf
  terraform/modules/celestial_core/main.tf
Due: ruff-check, ruff-format

fix wif
  .github/workflows/deploy-staging.yml
Due: none

feat logging
  src/backend/config/authentication.py
Due: ruff-check, ruff-format

fix hsts
  src/backend/config/settings.py
Due: ruff-check, ruff-format

fix
  .gitignore
Due: none

fix
  src/frontend/app/layout.tsx
  src/frontend/public/file.svg
  src/frontend/public/globe.svg
  src/frontend/public/next.svg
  src/frontend/public/vercel.svg
  src/frontend/public/window.svg
Due: biome-check

fix
  src/frontend/public/favicon.ico
  src/frontend/public/file.svg
  src/frontend/public/globe.svg
  src/frontend/public/next.svg
  src/frontend/public/vercel.svg
  src/frontend/public/window.svg
Due: biome-check

fix
  src/frontend/app/layout.tsx
Due: biome-check

fix
  src/frontend/public/file.svg
  src/frontend/public/globe.svg
  src/frontend/public/next.svg
  src/frontend/public/vercel.svg
  src/frontend/public/window.svg
Due: biome-check

fix
  src/frontend/app/components/AuthStatus.tsx
  src/frontend/app/components/__tests__/AuthStatus.test.tsx
  src/frontend/app/profile/__tests__/page.test.tsx
  src/frontend/app/profile/page.tsx
  src/frontend/context/AuthContext.tsx
  src/frontend/context/__tests__/AuthContext.test.tsx
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/vitest.config.ts
  src/frontend/vitest.setup.ts
Due: biome-check

feat terraform
  .gitignore
  terraform/modules/celestial_core/main.tf
Due: none

add .md
  CLAUDE.md
Due: none

fix
  CLAUDE.md
Due: none

fix .tf
  terraform/environments/prod/outputs.tf
  terraform/environments/staging/outputs.tf
  terraform/modules/celestial_core/outputs.tf
Due: none

fix gh actions
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
Due: none

fix gh sha
  .github/workflows/backend-test.yml
  .github/workflows/ci.yml
  .github/workflows/frontend-test.yml
Due: none

fix ignore
  .gitignore
Due: none
