Repository celestial-biome/celestial_biome: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, biome-check

ruff-check:
  name: Ruff Linter
  entry: uv run --project src/backend ruff check --fix
  language: system

ruff-format:
  name: Ruff Formatter
  entry: uv run --project src/backend ruff format
  language: system

biome-check:
  name: Biome Check
  entry: bash -c 'cd src/frontend && npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true .'
  language: system
  pass_filenames: false

fix
  .gitignore
  src/backend/astronomy/tests/__pycache__/conftest.cpython-312-pytest-9.0.2.pyc
  src/backend/astronomy/tests/__pycache__/test_commands.cpython-312-pytest-9.0.2.pyc
  src/backend/astronomy/tests/__pycache__/test_ingest.cpython-312-pytest-9.0.2.pyc
  src/backend/astronomy/tests/__pycache__/test_models.cpython-312-pytest-9.0.2.pyc
  src/backend/astronomy/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
  src/backend/config/__pycache__/test_settings.cpython-312-pytest-9.0.2.pyc
  src/backend/geology/management/commands/__pycache__/ingest_earthquakes.cpython-312.pyc
  src/backend/geology/management/commands/__pycache__/sync_earthquakes_to_db.cpython-312.pyc
  src/backend/geology/tests.py
  src/backend/geology/tests/__init__.py
  src/backend/geology/tests/__pycache__/__init__.cpython-312.pyc
  src/backend/geology/tests/__pycache__/test_ingest_earthquakes.cpython-312-pytest-9.0.2.pyc
  src/backend/geology/tests/__pycache__/test_models.cpython-312-pytest-9.0.2.pyc
  src/backend/geology/tests/__pycache__/test_sync_earthquakes_to_db.cpython-312-pytest-9.0.2.pyc
  src/backend/geology/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
  src/backend/geology/tests/test_ingest_earthquakes.py
  src/backend/geology/tests/test_models.py
  src/backend/geology/tests/test_sync_earthquakes_to_db.py
  src/backend/geology/tests/test_views.py
  src/backend/pyproject.toml
Due: ruff-check, ruff-format

fix
  src/frontend/app/components/earthquake/__tests__/EarthquakeCharts.test.tsx
  src/frontend/app/components/earthquake/__tests__/chart-options.test.ts
  src/frontend/app/components/earthquake/__tests__/useEarthquakes.test.ts
  src/frontend/app/components/earthquake/__tests__/utils.test.ts
Due: biome-check

fix
  .github/workflows/deploy.yml
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/config/settings.py
  src/backend/config/urls.py
  src/backend/economy/__init__.py
  src/backend/economy/__pycache__/__init__.cpython-312.pyc
  src/backend/economy/__pycache__/admin.cpython-312.pyc
  src/backend/economy/__pycache__/apps.cpython-312.pyc
  src/backend/economy/__pycache__/models.cpython-312.pyc
  src/backend/economy/__pycache__/urls.cpython-312.pyc
  src/backend/economy/__pycache__/views.cpython-312.pyc
  src/backend/economy/admin.py
  src/backend/economy/apps.py
  src/backend/economy/management/commands/__pycache__/ingest_economy.cpython-312.pyc
  src/backend/economy/management/commands/__pycache__/sync_economy_db.cpython-312.pyc
  src/backend/economy/management/commands/ingest_economy.py
  src/backend/economy/management/commands/sync_economy_db.py
  src/backend/economy/migrations/0001_initial.py
  src/backend/economy/migrations/__init__.py
  src/backend/economy/migrations/__pycache__/0001_initial.cpython-312.pyc
  src/backend/economy/migrations/__pycache__/__init__.cpython-312.pyc
  src/backend/economy/models.py
  src/backend/economy/tests.py
  src/backend/economy/urls.py
  src/backend/economy/views.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/app/components/world-economy/WorldEconomyCharts.tsx
  src/frontend/app/components/world-economy/chart-options.ts
  src/frontend/app/components/world-economy/index.tsx
  src/frontend/app/components/world-economy/useWorldEconomy.ts
  src/frontend/app/components/world-economy/utils.ts
  src/frontend/app/page.tsx
  src/frontend/app/world-economy/page.tsx
Due: ruff-check, ruff-format, biome-check

fix
  src/backend/economy/__pycache__/admin.cpython-312.pyc
  src/backend/economy/__pycache__/apps.cpython-312.pyc
  src/backend/economy/__pycache__/models.cpython-312.pyc
  src/backend/economy/__pycache__/urls.cpython-312.pyc
  src/backend/economy/__pycache__/views.cpython-312.pyc
  src/backend/economy/migrations/__pycache__/0001_initial.cpython-312.pyc
Due: none

fix
  src/frontend/app/components/world-economy/chart-options.ts
Due: biome-check

fix
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/economy/__pycache__/__init__.cpython-312.pyc
  src/backend/economy/__pycache__/admin.cpython-312.pyc
  src/backend/economy/__pycache__/apps.cpython-312.pyc
  src/backend/economy/__pycache__/models.cpython-312.pyc
  src/backend/economy/__pycache__/urls.cpython-312.pyc
  src/backend/economy/__pycache__/views.cpython-312.pyc
  src/backend/economy/migrations/__pycache__/0001_initial.cpython-312.pyc
  src/backend/economy/migrations/__pycache__/__init__.cpython-312.pyc
Due: none

fix
  compose.yaml
Due: none

fix
  compose.yaml
  src/frontend/app/components/world-economy/index.tsx
  src/frontend/app/components/world-economy/useWorldEconomy.ts
  src/frontend/app/page.tsx
  src/frontend/app/world-economy/page.tsx
Due: biome-check

fix
  src/backend/economy/__pycache__/serializers.cpython-312.pyc
  src/backend/economy/__pycache__/views.cpython-312.pyc
  src/backend/economy/serializers.py
  src/backend/economy/views.py
Due: ruff-check, ruff-format

fix
  src/backend/astronomy/__pycache__/serializers.cpython-312.pyc
  src/backend/astronomy/__pycache__/urls.cpython-312.pyc
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
  src/backend/astronomy/serializers.py
  src/backend/astronomy/tests/test_serializers.py
  src/backend/astronomy/tests/test_views.py
  src/backend/astronomy/urls.py
  src/backend/astronomy/views.py
  src/backend/economy/__pycache__/serializers.cpython-312.pyc
  src/backend/economy/__pycache__/views.cpython-312.pyc
Due: ruff-check, ruff-format

fix
  src/backend/astronomy/tests/test_views.py
Due: ruff-check, ruff-format

fix
  src/frontend/app/components/SolarSystemMap.tsx
  src/frontend/app/components/space-weather/__tests__/useSpaceWeather.test.ts
  src/frontend/app/components/space-weather/index.tsx
  src/frontend/app/components/space-weather/useSpaceWeather.ts
  src/frontend/app/page.tsx
  src/frontend/app/space-weather/page.tsx
Due: biome-check

fix
  src/backend/astronomy/__pycache__/serializers.cpython-312.pyc
  src/backend/astronomy/__pycache__/urls.cpython-312.pyc
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
Due: none

fix
  src/frontend/app/components/earthquake/__tests__/useEarthquakes.test.ts
  src/frontend/app/components/earthquake/index.tsx
  src/frontend/app/components/earthquake/useEarthquakes.ts
  src/frontend/app/earthquake/page.tsx
  src/frontend/app/page.tsx
Due: biome-check

fix
  src/frontend/app/components/earthquake/__tests__/chart-options.test.ts
  src/frontend/app/components/earthquake/chart-options.ts
Due: biome-check

fix
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
  src/backend/astronomy/tests/__pycache__/test_serializers.cpython-312-pytest-9.0.2.pyc
  src/backend/astronomy/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
  src/backend/astronomy/tests/test_views.py
  src/backend/astronomy/views.py
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/config/urls.py
  src/backend/economy/__pycache__/views.cpython-312.pyc
  src/backend/economy/views.py
Due: ruff-check, ruff-format

fix
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
  src/backend/astronomy/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/economy/__pycache__/views.cpython-312.pyc
Due: none

fix
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
  src/backend/astronomy/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
  src/backend/astronomy/views.py
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/config/urls.py
  src/backend/economy/__pycache__/serializers.cpython-312.pyc
  src/backend/economy/__pycache__/views.cpython-312.pyc
  src/backend/geology/__pycache__/views.cpython-312.pyc
  src/backend/geology/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
Due: ruff-check, ruff-format

fix
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
  src/backend/astronomy/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/geology/__pycache__/views.cpython-312.pyc
  src/backend/geology/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
  src/backend/geology/tests/test_views.py
  src/backend/geology/views.py
Due: ruff-check, ruff-format

fix
  src/backend/geology/__pycache__/views.cpython-312.pyc
Due: none

fix
  src/backend/economy/__pycache__/serializers.cpython-312.pyc
  src/backend/economy/__pycache__/views.cpython-312.pyc
  src/backend/economy/management/commands/__pycache__/sync_economy_db.cpython-312.pyc
  src/backend/economy/serializers.py
  src/backend/economy/views.py
  src/backend/geology/__pycache__/views.cpython-312.pyc
Due: ruff-check, ruff-format

fix
  src/backend/economy/__pycache__/views.cpython-312.pyc
  src/backend/economy/management/commands/__pycache__/ingest_economy.cpython-312.pyc
  src/backend/economy/tests/__init__.py
  src/backend/economy/tests/__pycache__/__init__.cpython-312.pyc
  src/backend/economy/tests/__pycache__/test_ingest_command.cpython-312-pytest-9.0.2.pyc
  src/backend/economy/tests/__pycache__/test_models.cpython-312-pytest-9.0.2.pyc
  src/backend/economy/tests/__pycache__/test_sync_command.cpython-312-pytest-9.0.2.pyc
  src/backend/economy/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
  src/backend/economy/tests/test_ingest_command.py
  src/backend/economy/tests/test_models.py
  src/backend/economy/tests/test_sync_command.py
  src/backend/economy/tests/test_views.py
  src/backend/geology/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
Due: ruff-check, ruff-format

fix
  README.md
Due: none

fix
  .github/workflows/ci.yml
  README.md
  src/backend/economy/__pycache__/models.cpython-312.pyc
  src/backend/economy/models.py
  src/backend/economy/tests/__pycache__/__init__.cpython-312.pyc
  src/backend/economy/tests/__pycache__/test_ingest_command.cpython-312-pytest-9.0.2.pyc
  src/backend/economy/tests/__pycache__/test_models.cpython-312-pytest-9.0.2.pyc
  src/backend/economy/tests/__pycache__/test_sync_command.cpython-312-pytest-9.0.2.pyc
  src/backend/economy/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
  src/backend/geology/__pycache__/views.cpython-312.pyc
  src/backend/geology/tests/__pycache__/test_models.cpython-312-pytest-9.0.2.pyc
  src/backend/geology/tests/__pycache__/test_sync_earthquakes_to_db.cpython-312-pytest-9.0.2.pyc
  src/backend/geology/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
  src/backend/geology/tests/test_models.py
  src/backend/geology/tests/test_sync_earthquakes_to_db.py
  src/backend/geology/tests/test_views.py
  src/backend/geology/views.py
  src/backend/pyproject.toml
  src/backend/uv.lock
Due: ruff-check, ruff-format

fix
  .github/workflows/deploy.yml
  src/backend/config/settings.py
Due: ruff-check, ruff-format

fix
  .github/workflows/deploy.yml
  README.md
  src/backend/config/settings.py
Due: ruff-check, ruff-format

add datasources
  README.md
Due: none

fix
  .github/workflows/deploy.yml
  src/backend/config/settings.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/.gitignore
  src/frontend/Dockerfile
  src/frontend/app/api/sentry-example-api/route.ts
  src/frontend/app/global-error.tsx
  src/frontend/app/sentry-example-page/page.tsx
  src/frontend/instrumentation-client.ts
  src/frontend/instrumentation.ts
  src/frontend/next.config.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/sentry.edge.config.ts
  src/frontend/sentry.server.config.ts
Due: ruff-check, ruff-format, biome-check

fix
  .github/workflows/deploy.yml
Due: none

fix
  src/frontend/next.config.ts
Due: biome-check

Path conditions:
  ruff-check: any of: ^src/backend/ and \.py$
  ruff-format: any of: ^src/backend/ and \.py$
  biome-check: any of: ^src/frontend/
