Repository celestial-biome/celestial_biome: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, biome-check

ruff-check:
  name: Ruff Linter
  entry: uv run --project src/backend ruff check --fix
  language: system

ruff-format:
  name: Ruff Formatter
  entry: uv run --project src/backend ruff format
  language: system

biome-check:
  name: Biome Check
  entry: bash -c 'cd src/frontend && npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true .'
  language: system
  pass_filenames: false

fix
  src/backend/config/settings.py
Due: ruff-check, ruff-format

fix
  terraform/environments/staging/terraform.tfstate
  terraform/environments/staging/terraform.tfstate.backup
Due: none

add env
  terraform/modules/celestial_core/main.tf
Due: none

fix
  src/frontend/middleware.ts
Due: biome-check

fix
  terraform/environments/staging/terraform.tfstate
  terraform/environments/staging/terraform.tfstate.backup
  terraform/modules/celestial_core/jobs.tf
  terraform/modules/celestial_core/main.tf
Due: none

fix
  .github/workflows/deploy-staging.yml
Due: none

fix
  README.md
Due: none

fix
  terraform/environments/staging/.terraform.lock.hcl
  terraform/environments/staging/main.tf
  terraform/environments/staging/outputs.tf
  terraform/environments/staging/terraform.tfstate
  terraform/environments/staging/terraform.tfstate.backup
  terraform/modules/celestial_core/main.tf
  terraform/modules/celestial_core/outputs.tf
  terraform/modules/celestial_core/versions.tf
Due: none

fix
  compose.yaml
  src/backend/accounts/__init__.py
  src/backend/accounts/admin.py
  src/backend/accounts/apps.py
  src/backend/accounts/migrations/0001_initial.py
  src/backend/accounts/migrations/__init__.py
  src/backend/accounts/models.py
  src/backend/accounts/tests.py
  src/backend/accounts/urls.py
  src/backend/accounts/views.py
  src/backend/config/authentication.py
  src/backend/config/settings.py
  src/backend/config/urls.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/app/components/AuthStatus.tsx
  src/frontend/app/components/earthquake/chart-options.ts
  src/frontend/app/components/space-weather/SpaceWeatherCharts.tsx
  src/frontend/app/components/space-weather/chart-options.ts
  src/frontend/app/components/space-weather/utils.ts
  src/frontend/app/components/ui/CelestialCard.tsx
  src/frontend/app/components/world-economy/index.tsx
  src/frontend/app/earthquake/page.tsx
  src/frontend/app/layout.tsx
  src/frontend/app/login/page.tsx
  src/frontend/app/page.tsx
  src/frontend/app/profile/page.tsx
  src/frontend/app/signup/page.tsx
  src/frontend/app/space-weather/page.tsx
  src/frontend/app/world-economy/page.tsx
  src/frontend/context/AuthContext.tsx
  src/frontend/lib/api-client.ts
  src/frontend/lib/firebase.ts
  src/frontend/package-lock.json
  src/frontend/package.json
Due: ruff-check, ruff-format, biome-check

fix
  terraform/.gitignore
  terraform/environments/prod/terraform.tfstate
  terraform/environments/prod/terraform.tfstate.backup
  terraform/environments/staging/terraform.tfstate
  terraform/environments/staging/terraform.tfstate.backup
Due: none

fix
  .github/workflows/deploy-staging.yml
  src/frontend/Dockerfile
Due: biome-check

fix
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  terraform/environments/prod/.terraform.lock.hcl
  terraform/environments/prod/terraform.tfvars
  terraform/environments/staging/terraform.tfvars
  terraform/modules/celestial_core/main.tf
Due: none

fix
  src/frontend/app/world-economy/page.tsx
Due: biome-check

fix readme
  README.md
Due: none

fix
  src/backend/astronomy/management/commands/README.md
  src/backend/astronomy/management/commands/ingest_space_weather.py
  src/backend/astronomy/tests/test_ingest.py
  src/frontend/app/space-weather/page.tsx
Due: ruff-check, ruff-format, biome-check

fix
  src/backend/astronomy/management/commands/sync_bq_to_db.py
Due: ruff-check, ruff-format

fix favicon
  src/frontend/app/favicon.ico
Due: biome-check

fix
  src/backend/astronomy/views.py
  src/backend/economy/views.py
  src/backend/geology/views.py
Due: ruff-check, ruff-format

fix
  src/frontend/app/login/page.tsx
Due: biome-check

fix
  src/backend/geology/views.py
Due: ruff-check, ruff-format

fix
  src/frontend/app/earthquake/page.tsx
  src/frontend/app/page.tsx
  src/frontend/app/space-weather/page.tsx
Due: biome-check

fix
  src/frontend/app/page.tsx
Due: biome-check

fix tfstate
  terraform/environments/prod/main.tf
  terraform/environments/staging/main.tf
  terraform/modules/celestial_core/bigquery.tf
Due: none

fix
  terraform/modules/celestial_core/monitoring.tf
  terraform/modules/celestial_core/variables.tf
Due: none

fix
  src/backend/astronomy/management/commands/ingest_space_weather.py
  src/backend/config/settings.py
  src/backend/geology/tests/test_views.py
  src/backend/pyproject.toml
  src/backend/uv.lock
Due: ruff-check, ruff-format

fix
  src/frontend/app/components/world-economy/chart-options.ts
Due: biome-check

fix
  src/frontend/app/components/earthquake/__tests__/EarthquakeCharts.test.tsx
  src/frontend/app/components/earthquake/__tests__/chart-options.test.ts
  src/frontend/app/components/earthquake/chart-options.ts
  src/frontend/app/components/space-weather/SpaceWeatherCharts.tsx
  src/frontend/app/components/space-weather/__tests__/chart-options.test.ts
  src/frontend/app/components/space-weather/chart-options.ts
  src/frontend/app/components/world-economy/chart-options.ts
  src/frontend/app/login/page.tsx
  src/frontend/app/profile/page.tsx
  src/frontend/app/signup/page.tsx
Due: biome-check

fix
  src/frontend/app/components/world-economy/useWorldEconomy.ts
  src/frontend/app/components/world-economy/utils.ts
Due: biome-check

fix
  src/frontend/app/components/world-economy/useWorldEconomy.ts
Due: biome-check

fix
  src/frontend/app/api/[...slug]/route.ts
  src/frontend/app/components/inference/CelestialChat.tsx
  src/frontend/app/page.tsx
  src/frontend/lib/api-client.ts
  src/frontend/lib/inference-api.ts
Due: biome-check

Path conditions:
  ruff-check: any of: ^src/backend/ and \.py$
  ruff-format: any of: ^src/backend/ and \.py$
  biome-check: any of: ^src/frontend/
