Repository celestial-biome/celestial_biome: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, biome-check

ruff-check:
  name: Ruff Linter
  entry: uv run --project src/backend ruff check --fix
  language: system

ruff-format:
  name: Ruff Formatter
  entry: uv run --project src/backend ruff format
  language: system

biome-check:
  name: Biome Check
  entry: bash -c 'cd src/frontend && npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true .'
  language: system
  pass_filenames: false

fix
  src/frontend/next.config.ts
Due: biome-check

fix
  src/frontend/Dockerfile
  src/frontend/next.config.ts
Due: biome-check

fix
  src/frontend/sentry.client.config.ts
  src/frontend/sentry.edge.config.ts
  src/frontend/sentry.server.config.ts
Due: biome-check

fix
  .github/workflows/deploy.yml
  src/frontend/Dockerfile
Due: biome-check

fix
  src/frontend/Dockerfile
Due: biome-check

fix
  .github/workflows/deploy.yml
  src/frontend/Dockerfile
  src/frontend/next.config.ts
Due: biome-check

fix
  README.md
Due: none

fix
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/economy/__pycache__/models.cpython-312.pyc
  src/backend/economy/management/commands/__pycache__/ingest_economy.cpython-312.pyc
  src/backend/economy/management/commands/ingest_economy.py
  src/backend/economy/tests/__pycache__/test_ingest_command.cpython-312-pytest-9.0.2.pyc
  src/backend/economy/tests/test_ingest_command.py
  src/backend/geology/__pycache__/views.cpython-312.pyc
  src/backend/geology/tests/__pycache__/test_models.cpython-312-pytest-9.0.2.pyc
  src/backend/geology/tests/__pycache__/test_sync_earthquakes_to_db.cpython-312-pytest-9.0.2.pyc
  src/backend/geology/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
Due: ruff-check, ruff-format

fix
  .github/workflows/deploy.yml
  src/backend/economy/management/commands/__pycache__/ingest_economy.cpython-312.pyc
Due: none

fix
  .github/workflows/deploy.yml
Due: none

fix deploy.yml
  .github/workflows/deploy.yml
  src/frontend/Dockerfile
Due: biome-check

fix
  src/frontend/middleware.ts
Due: biome-check

fix
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/config/settings.py
  src/backend/config/urls.py
  src/backend/economy/tests/__pycache__/test_ingest_command.cpython-312-pytest-9.0.2.pyc
Due: ruff-check, ruff-format

fix
  src/frontend/app/earthquake/page.tsx
  src/frontend/app/page.tsx
  src/frontend/app/space-weather/page.tsx
Due: biome-check

fix
  src/backend/config/__pycache__/urls.cpython-312.pyc
Due: none

fix
  src/backend/config/settings.py
Due: ruff-check, ruff-format

fix
  src/backend/config/urls.py
Due: ruff-check, ruff-format

fix: remove python cache files from git tracking
  src/backend/.gitignore
Due: none

fix
  compose.yaml
Due: none

fix
  .github/dependabot.yml
Due: none

fix
  .github/workflows/deploy-staging.yml
  terraform/.gitignore
  terraform/environments/prod/.terraform.lock.hcl
  terraform/environments/prod/main.tf
  terraform/environments/prod/moved.tf
  terraform/environments/prod/outputs.tf
  terraform/environments/prod/terraform.tfstate
  terraform/environments/prod/terraform.tfstate.backup
  terraform/environments/prod/terraform.tfvars
  terraform/environments/staging/.terraform.lock.hcl
  terraform/environments/staging/main.tf
  terraform/environments/staging/outputs.tf
  terraform/environments/staging/terraform.tfstate
  terraform/environments/staging/terraform.tfstate.backup
  terraform/environments/staging/terraform.tfvars
  terraform/modules/celestial_core/bigquery.tf
  terraform/modules/celestial_core/jobs.tf
  terraform/modules/celestial_core/locals.tf
  terraform/modules/celestial_core/main.tf
  terraform/modules/celestial_core/outputs.tf
  terraform/modules/celestial_core/schemas/earthquakes.json
  terraform/modules/celestial_core/schemas/economy.json
  terraform/modules/celestial_core/schemas/space_weather.json
  terraform/modules/celestial_core/sentry.tf
  terraform/modules/celestial_core/variables.tf
  terraform/modules/celestial_core/versions.tf
Due: none

fix
  terraform/environments/staging/terraform.tfstate
  terraform/environments/staging/terraform.tfstate.backup
  terraform/modules/celestial_core/jobs.tf
Due: none

fix
  src/backend/astronomy/management/commands/ingest_space_weather.py
  src/backend/economy/management/commands/ingest_economy.py
  src/backend/geology/management/commands/ingest_earthquakes.py
Due: ruff-check, ruff-format

fix
  src/backend/astronomy/management/commands/sync_bq_to_db.py
  src/backend/economy/management/commands/sync_economy_db.py
  src/backend/geology/management/commands/sync_earthquakes_to_db.py
Due: ruff-check, ruff-format

fix env
  terraform/environments/staging/terraform.tfstate
  terraform/environments/staging/terraform.tfstate.backup
Due: none

fix
  terraform/modules/celestial_core/main.tf
Due: none

Path conditions:
  ruff-check: any of: ^src/backend/ and \.py$
  ruff-format: any of: ^src/backend/ and \.py$
  biome-check: any of: ^src/frontend/
