Repository celestial-biome/celestial_biome: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, biome-check

.pre-commit-config.yaml:

repos:
  # 汎用的なチェックツール
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^src/frontend/node_modules/
      - id: end-of-file-fixer
        exclude: ^src/frontend/node_modules/
      - id: check-yaml
      - id: check-added-large-files

  # ローカルツール (uv & npm)
  - repo: local
    hooks:
      # ---------------------------------------------------
      # Backend (Ruff) - 修正箇所
      # ---------------------------------------------------
      - id: ruff-check
        name: Ruff Linter
        # ★修正: --directory ではなく --project を使用
        entry: uv run --project src/backend ruff check --fix
        language: system
        types: [python]
        files: ^src/backend/

      - id: ruff-format
        name: Ruff Formatter
        # ★修正: --directory ではなく --project を使用
        entry: uv run --project src/backend ruff format
        language: system
        types: [python]
        files: ^src/backend/

      # ---------------------------------------------------
      # Frontend (Biome) - そのままでOK
      # ---------------------------------------------------
      - id: biome-check
        name: Biome Check
        # ここは '.' (全体) を対象にしているのでそのままで動きます
        entry: bash -c 'cd src/frontend && npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true .'
        language: system
        pass_filenames: false # ファイル名を渡さず、entryコマンドの '.' で全スキャンさせる設定
        files: ^src/frontend/

fix
  .gitignore
  .vscode/settings.json
Due: none

add makefile
  .gitignore
Due: none

fix readme.md
  README.md
Due: none

fix
  README.md
Due: none

fix
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/__pycache__/urls.cpython-312.pyc
Due: none

fix
  .gitignore
  src/backend/astronomy/__init__.py
  src/backend/astronomy/__pycache__/__init__.cpython-312.pyc
  src/backend/astronomy/__pycache__/apps.cpython-312.pyc
  src/backend/astronomy/__pycache__/services.cpython-312.pyc
  src/backend/astronomy/__pycache__/urls.cpython-312.pyc
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
  src/backend/astronomy/apps.py
  src/backend/astronomy/services.py
  src/backend/astronomy/urls.py
  src/backend/astronomy/views.py
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/config/settings.py
  src/backend/config/urls.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/app/api/[...slug]/route.ts
  src/frontend/app/components/SolarSystemMap.tsx
  src/frontend/app/page.tsx
  src/frontend/next.config.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/tsconfig.json
Due: ruff-check, ruff-format, biome-check

fix
  src/frontend/app/api/[...slug]/route.ts
Due: biome-check

fix
  .gitignore
  compose.yaml
  src/backend/astronomy/__pycache__/__init__.cpython-312.pyc
  src/backend/astronomy/__pycache__/apps.cpython-312.pyc
  src/backend/astronomy/__pycache__/services.cpython-312.pyc
  src/backend/astronomy/__pycache__/urls.cpython-312.pyc
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
  src/backend/astronomy/management/commands/__pycache__/ingest_space_weather.cpython-312.pyc
  src/backend/astronomy/management/commands/ingest_space_weather.py
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/config/settings.py
  src/backend/pyproject.toml
  src/backend/uv.lock
Due: ruff-check, ruff-format

fix
  .github/workflows/deploy.yml
Due: none

fix
  .env
  src/backend/astronomy/__pycache__/urls.cpython-312.pyc
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
  src/backend/astronomy/urls.py
  src/backend/astronomy/views.py
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/manage.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/app/components/SpaceWeatherDashboard.tsx
  src/frontend/app/page.tsx
  src/frontend/package-lock.json
  src/frontend/package.json
Due: ruff-check, ruff-format, biome-check

fix
  .env
  compose.yaml
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
Due: none

fix
  .env
  .gitignore
Due: none

fix md
  README.md
Due: none

fix format
  src/frontend/app/components/SpaceWeatherDashboard.tsx
Due: biome-check

fix
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
Due: none

fix
  .github/workflows/deploy.yml
  src/backend/astronomy/__pycache__/models.cpython-312.pyc
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
  src/backend/astronomy/management/commands/__init__.py
  src/backend/astronomy/management/commands/__pycache__/__init__.cpython-312.pyc
  src/backend/astronomy/management/commands/__pycache__/sync_bq_to_db.cpython-312.pyc
  src/backend/astronomy/management/commands/sync_bq_to_db.py
  src/backend/astronomy/migrations/0001_initial.py
  src/backend/astronomy/migrations/__init__.py
  src/backend/astronomy/migrations/__pycache__/0001_initial.cpython-312.pyc
  src/backend/astronomy/migrations/__pycache__/__init__.cpython-312.pyc
  src/backend/astronomy/models.py
  src/backend/astronomy/views.py
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/settings.py
Due: ruff-check, ruff-format

fix
  src/backend/astronomy/__pycache__/models.cpython-312.pyc
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
  src/backend/astronomy/management/commands/__pycache__/__init__.cpython-312.pyc
  src/backend/astronomy/management/commands/__pycache__/sync_bq_to_db.cpython-312.pyc
  src/backend/astronomy/migrations/__pycache__/0001_initial.cpython-312.pyc
  src/backend/astronomy/migrations/__pycache__/__init__.cpython-312.pyc
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/frontend/app/components/SpaceWeatherDashboard.tsx
  src/frontend/package-lock.json
  src/frontend/package.json
Due: biome-check

fix forma
  README.md
  src/frontend/app/components/SpaceWeatherDashboard.tsx
  src/frontend/app/page.tsx
Due: biome-check

refact file
  src/frontend/app/components/SpaceWeatherDashboard.tsx
  src/frontend/app/components/space-weather/SpaceWeatherCharts.tsx
  src/frontend/app/components/space-weather/chart-options.ts
  src/frontend/app/components/space-weather/index.tsx
  src/frontend/app/components/space-weather/ui-parts.tsx
  src/frontend/app/components/space-weather/useSpaceWeather.ts
  src/frontend/app/components/space-weather/utils.ts
  src/frontend/app/page.tsx
Due: biome-check

fix
  src/frontend/app/components/space-weather/__tests__/__snapshots__/chart-options.test.ts.snap
  src/frontend/app/components/space-weather/__tests__/chart-options.test.ts
  src/frontend/app/components/space-weather/__tests__/ui-parts.test.tsx
  src/frontend/app/components/space-weather/__tests__/useSpaceWeather.test.ts
  src/frontend/app/components/space-weather/__tests__/utils.test.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/vitest.config.ts
Due: biome-check

fix
  src/backend/pyproject.toml
  src/backend/uv.lock
Due: none

fix
  .github/workflows/backend-test.yml
  src/backend/astronomy/__pycache__/urls.cpython-312.pyc
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
  src/backend/astronomy/tests/__init__.py
  src/backend/astronomy/tests/__pycache__/__init__.cpython-312.pyc
  src/backend/astronomy/tests/__pycache__/conftest.cpython-312-pytest-9.0.2.pyc
  src/backend/astronomy/tests/__pycache__/test_commands.cpython-312-pytest-9.0.2.pyc
  src/backend/astronomy/tests/__pycache__/test_ingest.cpython-312-pytest-9.0.2.pyc
  src/backend/astronomy/tests/__pycache__/test_models.cpython-312-pytest-9.0.2.pyc
  src/backend/astronomy/tests/__pycache__/test_views.cpython-312-pytest-9.0.2.pyc
  src/backend/astronomy/tests/conftest.py
  src/backend/astronomy/tests/test_commands.py
  src/backend/astronomy/tests/test_ingest.py
  src/backend/astronomy/tests/test_models.py
  src/backend/astronomy/tests/test_views.py
  src/backend/astronomy/urls.py
  src/backend/astronomy/views.py
  src/backend/config/__pycache__/test_settings.cpython-312-pytest-9.0.2.pyc
  src/backend/config/test_settings.py
  src/backend/pyproject.toml
  src/backend/uv.lock
Due: ruff-check, ruff-format

fix
  .github/workflows/frontend-test.yml
Due: none

fix
  src/backend/astronomy/__pycache__/views.cpython-312.pyc
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/config/settings.py
  src/backend/config/urls.py
  src/backend/geology/__init__.py
  src/backend/geology/__pycache__/__init__.cpython-312.pyc
  src/backend/geology/__pycache__/admin.cpython-312.pyc
  src/backend/geology/__pycache__/apps.cpython-312.pyc
  src/backend/geology/__pycache__/models.cpython-312.pyc
  src/backend/geology/__pycache__/serializers.cpython-312.pyc
  src/backend/geology/__pycache__/urls.cpython-312.pyc
  src/backend/geology/__pycache__/views.cpython-312.pyc
  src/backend/geology/admin.py
  src/backend/geology/apps.py
  src/backend/geology/management/commands/__pycache__/ingest_earthquakes.cpython-312.pyc
  src/backend/geology/management/commands/__pycache__/sync_earthquakes_to_db.cpython-312.pyc
  src/backend/geology/management/commands/ingest_earthquakes.py
  src/backend/geology/management/commands/sync_earthquakes_to_db.py
  src/backend/geology/migrations/0001_initial.py
  src/backend/geology/migrations/__init__.py
  src/backend/geology/migrations/__pycache__/0001_initial.cpython-312.pyc
  src/backend/geology/migrations/__pycache__/__init__.cpython-312.pyc
  src/backend/geology/models.py
  src/backend/geology/serializers.py
  src/backend/geology/tests.py
  src/backend/geology/urls.py
  src/backend/geology/views.py
  src/frontend/app/components/earthquake/EarthquakeCharts.tsx
  src/frontend/app/components/earthquake/chart-options.ts
  src/frontend/app/components/earthquake/index.tsx
  src/frontend/app/components/earthquake/useEarthquakes.ts
  src/frontend/app/components/earthquake/utils.ts
  src/frontend/app/page.tsx
  src/frontend/package-lock.json
  src/frontend/package.json
Due: ruff-check, ruff-format, biome-check

fix
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/geology/__pycache__/admin.cpython-312.pyc
  src/backend/geology/__pycache__/apps.cpython-312.pyc
  src/backend/geology/__pycache__/models.cpython-312.pyc
  src/backend/geology/__pycache__/serializers.cpython-312.pyc
  src/backend/geology/__pycache__/urls.cpython-312.pyc
  src/backend/geology/__pycache__/views.cpython-312.pyc
  src/backend/geology/migrations/__pycache__/0001_initial.cpython-312.pyc
Due: none

fix
  .github/workflows/deploy.yml
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/geology/__pycache__/__init__.cpython-312.pyc
  src/backend/geology/__pycache__/admin.cpython-312.pyc
  src/backend/geology/__pycache__/apps.cpython-312.pyc
  src/backend/geology/__pycache__/models.cpython-312.pyc
  src/backend/geology/__pycache__/serializers.cpython-312.pyc
  src/backend/geology/__pycache__/urls.cpython-312.pyc
  src/backend/geology/__pycache__/views.cpython-312.pyc
  src/backend/geology/migrations/__pycache__/0001_initial.cpython-312.pyc
  src/backend/geology/migrations/__pycache__/__init__.cpython-312.pyc
Due: none

fix
  src/frontend/app/components/earthquake/useEarthquakes.ts
Due: biome-check

fix
  src/backend/config/__pycache__/settings.cpython-312.pyc
  src/backend/config/__pycache__/urls.cpython-312.pyc
  src/backend/geology/__pycache__/__init__.cpython-312.pyc
  src/backend/geology/__pycache__/admin.cpython-312.pyc
  src/backend/geology/__pycache__/apps.cpython-312.pyc
  src/backend/geology/__pycache__/models.cpython-312.pyc
  src/backend/geology/__pycache__/serializers.cpython-312.pyc
  src/backend/geology/__pycache__/urls.cpython-312.pyc
  src/backend/geology/__pycache__/views.cpython-312.pyc
  src/backend/geology/migrations/__pycache__/0001_initial.cpython-312.pyc
  src/backend/geology/migrations/__pycache__/__init__.cpython-312.pyc
  src/frontend/app/earthquake/page.tsx
  src/frontend/app/page.tsx
  src/frontend/app/space-weather/page.tsx
Due: biome-check
